<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">List:</h1>
        <div>
            Em HTML, a tag <code class="out-code">&lt;ul&gt;</code> representa uma lista não ordenada. 
            Ela é utilizada para criar uma lista de itens onde a ordem não possui relevância específica. 
            Cada item dentro da lista não ordenada é definido utilizando a tag <code class="out-code">&lt;li&gt;</code> (item da lista).
        </div>
    </div>
    
    <span class="container">
        <app-list type = 'simples'></app-list>
    </span>

    <div class="content">
        <p>
            Por padrão, os navegadores da web exibirão listas não ordenadas com marcadores (geralmente círculos, quadrados ou discos).
            É possível   estilizar esses marcadores usando CSS se desejar uma aparência diferente.
        </p>
    </div>
    
    <div class="content">
    <div class="title"> Lista Simples </div>
    </div>
    
    <span class="container">
        <div class="title-codigo">HTML</div>
        <code class="language-html">
            <span class="html-codigo">
                
                <span>
                    &lt;<span>ul role="list" class="list"</span>&gt;
                    <br>
                </span>
                    &lt;<span>li class="li">Item 1</span>&lt;<span>/li</span>&gt;
                    <br>
                    &lt;<span>li class="li">Item 2</span>&lt;<span>/li</span>&gt;
                    <br>
                    &lt;<span>li class="li">Item 3</span>&lt;<span>/li</span>&gt;
                    <br>
                    <span>&lt;/ul&gt;</span>
            </span>
        </code>
    </span>
    
    <div class="content">
    <p>
        Se for necessário inserir apenas uma linha individual de texto lista,
        o texto pode ser inserido diretamente no elemento <code class="out-code">&lt;ul&gt;</code>.
    </p>
    <div class="title"> Estilização de Listas </div>
    
    <p>Listas podem ser ter diferentes estilos como ordenadas por números decimais, romanos, simbolos
        e etc. Exemplo de lista com estilo de números decimais:
    </p>
    
    </div>
    
    <span class="container">
        <!--Colar aqui-->
    </span>
    <br>
    <span class="container">
        <div class="title-codigo">CSS</div>
        <span class="css-codigo">
            <code>
                .list &#123; 
                <br>
                list-style: decimal;
                <br>
                &#125;
            </code>
        </span>
    </span>
    <div class="content">
        <p>As listas podem ser apresentadas de diferentes formas a partir desse princípio, outros exemplos:</p>
        <br>
        <p><code class="out-code">list-style: none;</code> Estiliza a lista sem símbolos.</p>
        <p><code class="out-code">list-style: square;</code> Estiliza a lista por símbolos em formato de quadrado.</p>
        <p><code class="out-code">list-style: circle;</code> Estiliza a lista por símbolos em formato circular.</p>
        <p><code class="out-code">list-style: upper-roman;</code> Estiliza a lista por símbolos em algarismo romano.</p>
        <p><code class="out-code">list-style: url;</code> Estiliza a lista por símbolo externo inserido via <code>url()</code>.</p>
    </div>
    
    <div class="content">
    <div class="title">Lista Aninhada</div>
    
    <p>
        Uma lista aninhada em HTML permite criar subníveis de hierarquia dentro de listas não ordenadas <code class="out-code">&lt;ul&gt;</code> ou ordenadas <code class="out-code">&lt;ol&gt;</code>.
        Isso é útil para organizar informações complexas de forma estruturada e facilitar a compreensão do usuário.
    </p>
    
    </div>
    
    <span class="container">
        <!--Colar Aqui-->
    </span>
    <br>
    <span class="container">
        <div class="title-codigo">HTML</div>
        <code class="language-html">
            <span class="html-codigo">
                <span>
                    <span>&lt;ul role="list" class="list"&gt;</span>
                    <br>
                </span>
                    <span>&lt;li class="li">Item 1</span>&lt;<span>/li&gt;</span>
                    <br>
                    <span>&lt;li class="li">Item 2</span>&lt;<span>/li&gt;</span>
                    <br>
                    &lt;<span>ul&gt; 
                    <br>
                        <span>
                            <span>&lt;li class="li2">Item 2.1</span>&lt;<span>/li&gt;</span>
                        </span>
                        <br>
                        <span>
                            <span>&lt;li class="li2">Item 2.2</span>&lt;<span>/li&gt;</span>
                        </span>
                        <br>
                        &lt;/ul</span>&gt;
                    <br>
                    &lt;<span>li class="li">Item 3</span>&lt;<span>/li</span>&gt;
                    <br>
                    <span>&lt;/ul&gt;</span>
            </span>
        </code>
    </span>
    <br>
    <span class="container">
        <div class="title-codigo">CSS</div>
        <span class="css-codigo">
            <code>
                .list &#123; 
                <br>
                list-style: none;
                <br>
                &#125;
                <br>
                .li2 &#123; 
                <br>
                list-style: none;
                <br>
                &#125;
            </code>
        </span>
    </span>
    
    <div class="content">
        <div class="title">Lista de Botões</div>
        <p>
            Criar uma lista de botões em HTML envolve combinar as tags <code class="out-code">&lt;ul&gt;</code> (lista não ordenada) ou <code class="out-code">&lt;ol&gt;</code> (lista ordenada) com a tag <code class="out-code">&lt;li&gt;</code> (item da lista) para definir cada botão. 
            Dentro de cada <code class="out-code">&lt;li&gt;</code>, você pode usar a tag <code class="out-code">&lt;button&gt;</code> para criar o botão propriamente dito. 
            Aqui está um exemplo básico:
        </p>
    </div>
    
    <span class="container">
        
    </span>
    <br>
    
    <span class="container">
        <div class="title-codigo">HTML</div>
        <code class="language-html">
            <span class="html-codigo">
                <span>
                    <span>&lt;ul role="list" class="list"&gt;</span>
                    <br>
                </span>
                    <span>&lt;li class="li">
                        <br>
                        &lt;button class="li-button-example"&gt;Botão 1&lt;/button&gt;
                        <br>
                    </span>&lt;<span>/li&gt;</span>
                    <br>
                    <span>&lt;li class="li">
                        <br>
                        &lt;button class="li-button-example"&gt;Botão 2&lt;/button&gt;
                        <br>
                    </span>&lt;<span>/li&gt;</span>
                    <br>
                    &lt;<span>li class="li">
                        <br>
                        &lt;button class="li-button-example"&gt;Botão 3&lt;/button&gt;
                        <br>
                    </span>&lt;<span>/li</span>&gt;
                    <br>
                    <span>&lt;/ul&gt;</span>
            </span>
        </code>
    </span>
    <br>        
    <span class="container">
        <div class="title-codigo">CSS</div>
        <span class="css-codigo">
            <code>
                .li-button-example &#123; <br>
                    padding: 10px; <br>
                    border: 1px solid black; <br>
                    font-size: large; <br>
                    background-color: white; <br>
                    border-radius: 20px; <br>
                &#125; <br>
                
                .li-button-example:hover &#123; <br>
                    cursor: pointer; <br>
                    color: white; <br>
                    background-color: rgb(0, 123, 255); <br>
                &#125; <br>
            </code>
        </span>
    </span>
    
</div>