<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chip Component</title>
  <link rel="stylesheet" href="expandinggrid.component.css">
</head>
<body>
  <div class="app-component-viewer">
      <div class="content">
          <h1 class="app-title">Expanding Grid:</h1>
          <p>
            Um "expanding grid" (ou grade expansível) em HTML é uma interface de usuário onde você 
            tem uma grade de itens e cada item pode ser expandido para mostrar mais detalhes ou 
            conteúdo. Isso é frequentemente usado em aplicações da web para organizar e exibir 
            informações de maneira mais compacta e interativa.
          </p>
      </div> 
      <br>
      
<div class="row">
  <div class="column" (click)="openTab('b1')">Bloco 1</div>
  <div class="column1" (click)="openTab('b2')">Bloco 2</div>
</div>

<br>
<div id="b1" class="containerTab" style="display:none;background:darkorange">
 
  <span (click)="closeTab('b1')" class="closebtn">x</span>
  <h2>Bloco 1</h2>
  <p>Matheus gay safado</p>
</div>

<div id="b2" class="containerTab" style="display:none;background:dodgerblue">
  <span (click)="closeTab('b2')" class="closebtn">x</span>
  <h2>Bloco 2</h2>
  <p>Lorem ipsum..</p>
</div>
