    <div class="app-component-viewer">
        <div class="content">
            <h1 class="app-title">Button:</h1>
            <div>
                Em HTML, o Button pode ser definido pela tag de abertura <code class="out-code">&lt;button&gt;</code> e a tag de fechamento <code class="out-code">&lt;/button&gt;</code> . Dentro de um elemento <code class="out-code">&lt;button&gt;</code>, você pode colocar conteúdo, como texto ou imagens. Essa é a principal diferença entre esse elemento e os botões criados com o elemento <code class="out-code">&lt;input&gt;</code>.
            </div>
        </div>
        <div class="title">Botão Simples</div>
        <br>
        <span class="container">
            <div class="contenti">
            <app-button type = "simples"></app-button>
            </div>
        </span>
        <br>
        <div class="title-codigo" >HTML:</div><br>
                    <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="call1"
                              language="html"
                              lineNumbers></code>
                      </pre>
                </span>
                <br>


        <br>
        <div class="title">Códigos:</div>
               <br>
                <div class="title-codigo">HTML:</div><br>
                <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="codeForHTML"
                              language="html"
                              lineNumbers></code>
                      </pre>
                </span>
                <br> 
                <div class="title-codigo">CSS</div><br>
                <span class="container" style="background-color: #282b2e;">        
                <pre class="pre">
                    <code class="code"
                          [highlight]="codeForCSS"
                          language="css"
                          lineNumbers></code>
                  </pre>
            </span>

<br>

<div class="title">Botões Variados</div>
<br>
            <div class="example-button-row">
    <br>

        <br>

        <span class="container">
            <div class="contenti">
                <app-button type = "comum" class="btn"></app-button>
                <br>
                <app-button type = "disabled" class="btn"></app-button>
                <br>
                <app-button type = "link" class="btn"></app-button>
            </div>
        </span>
            <br>
        </div>
        <br>
        <div class="title-codigo" >HTML:</div><br>
                    <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="call2"
                              language="html"
                              lineNumbers></code>
                      </pre>
                </span>
                <br>
                <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="call3"
                              language="html"
                              lineNumbers></code>
                      </pre>
                </span>
                <br>
                <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="call4"
                              language="html"
                              lineNumbers></code>
                      </pre>
                </span>
                <br>
        <br>
<div class="title">Códigos:</div>
        <br>
            <div class="button-container"> 
                    <div class="title-codigo" >HTML:</div><br>
                    <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="codeForHTML1"
                              language="ts"
                              lineNumbers></code>
                      </pre>
                </span>
                <br>
              
                <div class="title-codigo">CSS:</div><br>
                <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="codeForCSS1"
                              language="css"
                              lineNumbers></code>
                      </pre>
                </span>
            </div>
    </div>
