<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="button-page.component.css">
    <title>Button</title>
</head>
<body>
    <div class="app-component-viewer">
        <div class="content">
            <h1 class="app-title">Button:</h1>
            <div>
                Em HTML, o Button pode ser definido pela tag de abertura <code class="out-code">&lt;button&gt;</code> e a tag de fechamento <code class="out-code">&lt;/button&gt;</code> . Dentro de um elemento <code class="out-code">&lt;button&gt;</code>, você pode colocar conteúdo, como texto ou imagens. Essa é a principal diferença entre esse elemento e os botões criados com o elemento <code class="out-code">&lt;input&gt;</code>.
            </div>
        </div>
        <div class="title">Botão Simples</div>

        <button 
            class="button default" 
            onclick="handleClick()">
            Botão Simples
        </button> 
        <br><br>
                <div class="title-codigo">Códigos:</div>
                <br>
                <div class="title-codigo">HTML:</div><br>
                <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="codeForHTML"
                              language="ts"
                              lineNumbers></code>
                      </pre>
                </span>
                <br> 
                <div class="title-codigo">CSS</div><br>
                <span class="container" style="background-color: #282b2e;">        
                <pre class="pre">
                    <code class="code"
                          [highlight]="codeForCSS"
                          language="ts"
                          lineNumbers></code>
                  </pre>
            </span>

<br>

<div class="label">Botões Variados</div>
<br>
            <div class="example-button-row">
    <br>

           <br> <div class="container-3"> <br>
                <button class="thin">Fino</button>
                <br>
                <br>
                <button class="thin basic disabled" disabled>Desativado</button>
                <br>
                <br>    
            <a class="thin basic" href="https://www.example.com/" target="_blank">Link</a>
            <br>
            <br>
            </div>
            <br>
        </div>
       
        <br>
<div class="title-codigo2">Códigos:</div>
        <br>
            <div class="button-container"> 
                    <div class="title-codigo" >HTML:</div><br>
                    <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="codeForHTML1"
                              language="ts"
                              lineNumbers></code>
                      </pre>
                </span>
                <br>
              
                <div class="title-codigo">CSS:</div><br>
                <span class="container" style="background-color: #282b2e;">
                    <pre class="pre">
                        <code class="code"
                              [highlight]="codeForCSS1"
                              language="ts"
                              lineNumbers></code>
                      </pre>
                </span>
            </div>
    </div>
</body>
</html>
