<!-- Sidebar -->
<div class="sidebar" style="width:25%; margin-top: -8px;">
    <ul>
    <li><button routerLink="/button">Button</button></li>
    <li><button routerLink="/card">Card</button></li>
    <li><button routerLink="/chip">Chip</button></li>
    <li><button routerLink="/button-input">Input de Botão</button></li>
    <li><button routerLink="/text-input">Input de Texto</button></li>
    <li><button routerLink="/list">List</button></li>
    <li><button routerLink="/modal">Modal</button></li>
    <li><button routerLink="/select">Select</button></li>
    <li><button routerLink="/table">Table</button></li>
    </ul>
</div>
  
  