<div class="app-component-viewer">
  <div class="content">
    <h1 class="app-title">Expanding Grid:</h1>
      <p>
        Um "expanding grid" (ou grade expansível) em HTML é uma interface de usuário onde você 
        tem uma grade de itens e cada item pode ser expandido para mostrar mais detalhes ou 
        conteúdo. Isso é frequentemente usado em aplicações da web para organizar e exibir 
        informações de maneira mais compacta e interativa.
      </p>
        </div> 
        <span class="container">
          <div class="exgrid">
          <app-expandinggrid></app-expandinggrid>
          </div>
        </span>

        

        <br>
        <h2 class="title">Exemplos de Uso</h2>
        <p>1 - Catálogo de produtos: Um expanding grid pode ser usado para exibir uma lista de produtos com informações 
        resumidas, como nome e preço, e permitir que os usuários expandam os detalhes de cada produto para ver 
        descrições completas e imagens adicionais. <br>
        2 - Perguntas frequentes (FAQ): Um expanding grid pode ser usado para organizar perguntas frequentes, 
        exibindo as perguntas como itens principais e os detalhes expandidos contendo as respostas correspondentes. <br>
        3 - Painel de controle: Um expanding grid pode ser usado em um painel de controle de aplicativo para exibir 
        resumos de métricas ou atividades recentes, com detalhes expandidos disponíveis para uma análise mais aprofundada.</p>

        <div class="html-code">
          <h2 class="title">Código Seletor Para Angular:</h2>
          <pre class="pre">
              <code class="code"
                    [highlight]="codeForHTMLex"
                    language="HTML"
                    lineNumbers></code>
            </pre>
      </div>
      
        <div class="title-codigo">HTML:</div><br>
        <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForHTML"
                  language="ts"
                  lineNumbers></code>
          </pre>
        </span>
        
        <div class="title-codigo">CSS:</div><br>
        <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForCSS"
                  language="ts"
                  lineNumbers></code>
          </pre>
        </span>
        
        <div class="title-codigo">TS:</div><br>
        <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForTS"
                  language="ts"
                  lineNumbers></code>
          </pre>
        </span>
  