.app-component-viewer {
    font-weight: 400;
    width: calc(100% - 341px);
    padding: 20px 50px;
}

.content {
    padding-top: 25px;
    padding-bottom: 25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
  align-items: left;
  display: block;
  padding: auto;
  border: solid rgb(33, 149, 243) 2px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
}

.login-container {
    width: 200px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.title {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(20, 74, 188);
  }

.input-group {
    margin-bottom: 20px;
}

.app-title {
    color: rgb(20, 74, 188);
}

.title {
    color: rgb(20, 74, 188);
}

code {
    font-size: large;
}

.out-code{
    background-color: rgb(251, 184, 53);
}