    <div class="content">
        <h1 class="app-title">Input texto:</h1>
        <div>
            Em HTML, a tag &lt;input type="text"&gt; representa uma caixa de entrada de texto. 
            Ela é utilizada para criar uma caixa de entrada de texto de tipo não específicado. 
        </div>
    </div>
    
    <span class="container">
        <span class="input-text-example">
            <div class="login-container">
                <app-inputText type = 'text' />

            </div>
        </span>
    </span>
    <div class="html-code">
        <h2>HTML:</h2>
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForHTMLtext"
                  language="html"
                  lineNumbers></code>
          </pre>
    </div>


<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Input senha:</h1>
        <div> 
            Em HTML, a tag &lt;input type="password"&gt; representa uma caixa de entrada de texto de tipo senha. 
            Ela é utilizada para criar uma caixa de entrada de dados, onde o texto inserido não é visualizado pelo usuário. 
        </div>
    </div>
    <span class="container">
        <span class="input-text-example">
            <div class="login-container">
            
                <app-inputText type = 'password' />
                
            </div>
        </span>
    </span>
    <div class="html-code">
        <h2>HTML:</h2>
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForHTMLpassword"
                  language="ts"
                  lineNumbers></code>
          </pre>
    </div>
</div>

<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Input data:</h1>
        <div>
            Em HTML, a tag &lt;input type="date&gt; representa uma caixa de entrada de texto de tipo data. 
            Ela é utilizada para criar uma caixa de entrada de dados, onde o texto é no formato dia/mês/ano. 
        </div>
    </div>
    <span class="container">
        <span class="input-text-example">
            <div class="login-container">
              
                <app-inputText type = 'date' />
            
            </div>
        </span>
    </span>

    <div class="html-code">
        <h2>HTML:</h2>
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForHTMLdate"
                  language="ts"
                  lineNumbers></code>
          </pre>
    </div>
</div>


