.radio-container, .toggle-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  width: 100px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.toggle-label {
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 17px;
  position: relative;
}

.toggle-label::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
  top: -55px;
  left: 115px;
  transition: 0.3s;
  border: 5px solid #a2a2a2;
}

input[type="checkbox"]:checked + .toggle-label::after {
  transform: translateY(50px);
}

input[type="checkbox"] {
  display: none;
}

.toggle-container label {
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="radio"]:checked + .radio-option::before {
  background-color: #000000;
}

.radio-option {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.radio-option {
  cursor: pointer;
}

.radio-option input[type="radio"] {
  cursor: pointer;
}

.radio-option:hover::before {
  border-color: #333333;
}

.radio-option input[type="radio"]:checked + .radio-option::before {
  background-color: #000000;
  border-color: #000000;
}

input[type="checkbox"]:checked + .toggle-label::after {
  transform: translateY(50px);
}

input[type="checkbox"] {
  display: none;
}