
  <select class="select" *ngIf="type == 'simple'">
    <option value="">Selecione uma Opção</option>
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
    <option value="Opção 3">Opção 3</option>
    <option value="Opção 4">Opção 4</option>
    <option value="Opção 5">Opção 5</option>
    <option value="Opção 6">Opção 6</option>
    <option value="Opção 7">Opção 7</option>
  </select>

<select class="select" name="opcoes" id="opcoes" *ngIf="type == 'tabela2'">
    <option value="">Selecione uma Opção</option>
  <optgroup label="Grupo 1">
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
  </optgroup>
  <optgroup label="Grupo 2">
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
  </optgroup>
</select>
