<div class="app-component-viewer">
  <div class="content">
    <h1 class="app-title">Select:</h1>
    <div>
      A tag <code class="out-code">&lt;select&gt;</code> em HTML cria um elemento de seleção,
      também conhecido como menu suspenso. Ele permite ao usuário escolher uma opção dentre 
      uma lista predefinida. É uma ferramenta valiosa para coletar informações do usuário de
      forma controlada e eficiente.
  </div>
  </div>

  <div class="title"> Select Simples </div>
  <br>

<span class="container">
  <span>
    <div>Select Simples</div>
  </span>
  <select class="select">
    <option value="">Selecione uma Opção</option>
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
    <option value="Opção 3">Opção 3</option>
    <option value="Opção 4">Opção 4</option>
    <option value="Opção 5">Opção 5</option>
    <option value="Opção 6">Opção 6</option>
    <option value="Opção 7">Opção 7</option>
  </select>
</span> 

<br>

<span class="container2">
  <div class="title-codigo">HTML</div>
  <code class="language-html">
      <span class="html-codigo">
        <span>&lt;select class="select"&gt;&lt;/select&gt;</span> <br>
          <span>&lt;option value="">Selecione uma Opção&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 1">Opção 1&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 2">Opção 2&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 3">Opção 3&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 4">Opção 4&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 5">Opção 5&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 6">Opção 6&lt;/option&gt;</span> <br>
          <span>&lt;option value="Opção 7">Opção 7&lt;/option&gt;</span> <br>
          <span>&lt;/select&gt;</span>
      </span>
  </code>
</span>

<br>
<div class="content">
  <div class="title"> Select Agrupado </div>

  <p>
    Agrupamento em HTML, no contexto da tag <code class="out-code">&lt;select&gt;</code>,
    refere-se à técnica de organizar as opções de um menu suspenso em categorias distintas para
    facilitar a navegação e a seleção do usuário. Essa funcionalidade é particularmente útil 
    quando se trabalha com um grande número de opções ou quando a categorização das opções 
    agrega valor à experiência do usuário.
  </p>

</div>
<span class="container">
  <span>
    <div>Select Agrupado</div>
  </span>
<select class="select" name="opcoes" id="opcoes">
    <option value="">Selecione uma Opção</option>
  <optgroup label="Grupo 1">
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
  </optgroup>
  <optgroup label="Grupo 2">
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
  </optgroup>
</select>
</span>

<br>

<span class="container2">
  <div class="title-codigo">HTML</div>
  <code class="language-html">
      <span class="html-codigo">

        <span>&lt;select class="select" name="opcoes" id="opcoes"&gt;</span> <br>
          <span>&lt;option value="">Selecione uma Opção&lt;/option&gt;</span> <br>
          <span>&lt;optgroup label="Grupo 1"&gt;&lt;/optgroup&gt;</span> <br>
            <span>&lt;option value="Opção 1"&gt;Opção 1&lt;/option&gt;</span> <br>
            <span>&lt;option value="Opção 2"&gt;Opção 2&lt;/option&gt;</span> <br>
            <span>&lt;/optgroup&gt;</span> <br>
            <span>&lt;optgroup label="Grupo 2"&gt;&lt;/optgroup&gt;</span> <br>
              <span>&lt;option value="Opção 1"&gt;Opção 1&lt;/option&gt;</span> <br>
              <span>&lt;option value="Opção 2"&gt;Opção 2&lt;/option&gt;</span> <br>
        <span>&lt;/optgroup&gt;</span> <br>
        <span>&lt;/select&gt;</span>

      </span>
    </code>
  </span>
</div>