
   <div class="app-component-viewer">
        <div class="content">
            <h1 class="app-title">Chip:</h1>
            <p>
                Em HTML, o termo "chip" se refere a um elemento de interface gráfica de usuário (UI) que representa uma peça compacta de informação. 
                Chips podem conter uma variedade de conteúdo, como texto, ícones, ou fotos, e geralmente são usados para representar 
                entradas de usuário, tais como seleções, contatos, ou filtros.
            </p>
        </div>
        
        <div class="content">
            <div class="title">Chip Estático</div>
        </div>
      
        <div class="container">
            <div class="contenti">
               <app-chips type="chipstatic1"></app-chips>
                <app-chips type="chipstatic2"></app-chips>
            </div>
        </div>
        
        <div class="content">
            <p>
                Se refere a um tipo de chip que exibe informações estáticas e não interativas. 
                Esses chips podem ser úteis para mostrar informações que não precisam de 
                interação do usuário, como tags ou rótulos.
            </p>
        </div>

        <div class="html-code">
            <h2 class="title">Código Seletor Para Angular:</h2>
            <pre class="pre">
                <code class="code"
                      [highlight]="CodesForHTML1"
                      language="html"
                      lineNumbers></code>
              </pre> 
              <pre class="pre">
                <code class="code"
                      [highlight]="CodesForHTML2"
                      language="html"
                      lineNumbers></code>
              </pre>
        </div>
      
        <div class="title-codigo">HTML:</div><br>
<span class="container96" style="background-color: #282b2e;">
<pre class="pre">
    <code class="code"
          [highlight]="codeForHTML"
          language="html"
          lineNumbers></code>
  </pre>
</span>
      
        <br><br>     
      
        <div class="title-codigo">CSS:</div><br>
        <span class="container96" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForCSS"
                  language="css"
                  lineNumbers></code>
          </pre>
        </span>
          
        <br><br>  
      
        <div class="title-codigo">TS:</div><br>
        <span class="container96" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForTSS"
                  language="ts"
                  lineNumbers></code>
          </pre>
        </span>
      
        <br><br>

        <div class="title">Chip Modificável</div>

        <br>

        <span class="container-chip3">
          <div class="contenti">
            <app-chips type = "chip3"></app-chips>
          </div>
      </span>
      

            <p>
                Se refere a um tipo de chip que exibe informações Modificáveis. Diferente do anterior, esse chip pode ser alterado pelo<br>
                usuário de forma dinâmica.<br>
                
            </p>
        
            <div class="html-code">
                <h2 class="title">Código Seletor Para Angular:</h2>
                <pre class="pre">
                    <code class="code"
                          [highlight]="CodesForHTML3"
                          language="html"
                          lineNumbers></code>
                  </pre>
            </div>
       
            <div class="title-codigo">HTML:</div><br>
            <span class="container96" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code"
                      [highlight]="codeForHTML1"
                      language="html"
                      lineNumbers></code>
              </pre>
            </span>
          
<br><br>
            <div class="title-codigo">CSS:</div><br>
            <span class="container96" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code"
                    [highlight]="codeForCSS1"
                    language="css"
                    lineNumbers></code>
            </pre>
            </span>
<br>
            <div class="title-codigo">TS:</div><br>
            <span class="container96" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code"
                    [highlight]="codeForTS1"
                    language="ts"
                    lineNumbers></code>
            </pre>
            </span>

<br><br>
  

            <div class="title">Chip Excluível</div>

<br>

            <span class="container-chip4">
                <div class="contenti">
                    <app-chips type = "chip4"></app-chips>
                </div>
            </span>
            
      
                  <p>
                     Nada mais é que um chip que pode ser excluído.<br>
                  </p>
            
                  <div class="title-codigo">HTML:</div><br>
                  <span class="container96" style="background-color: #282b2e;">
                  <pre class="pre">
                      <code class="code"
                            [highlight]="codeForHTML4"
                            language="html"
                            lineNumbers></code>
                    </pre>
                  </span>`

                  <div class="title-codigo">CSS:</div><br>
                  <span class="container96" style="background-color: #282b2e;">
                  <pre class="pre">
                      <code class="code"
                          [highlight]="codeForCSS4"
                          language="css"
                          lineNumbers></code>
                  </pre>
                  </span>

                  <div class="title-codigo">TS:</div><br>
            <span class="container96" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code"
                    [highlight]="codeForTS4"
                    language="ts"
                    lineNumbers></code>
            </pre>
            </span>

    


     <app-chips></app-chips>
