
  .app-title {
    font-size: xx-large;
    color: rgb(20, 74, 188);
}

  
  
  .app-component-viewer {
    font-weight: 400;
    width: calc(100% - 100px);
    padding: 20px 50px;
  }
  
  .content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  
  
  .container {
    display: block;
    border: solid rgb(33, 149, 243) 2px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%;
    margin-left: 10%;
    margin-right: auto;
    padding: 10px;
  }
  
  .code_title {
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
  }
  
  .chip-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .contenti {
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(20, 74, 188);
  }
  
  .html-codigo, .css-codigo, .TS-codigo {
    align-items: center;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .title-codigo {
    font-size: large;
    font-weight: bolder;
    padding-left: 35px; 
    padding-top: 15px;
    color: rgb(20, 74, 188);
  }
  
  code {
    font-size: large;
  }
  
  .out-code {
    background-color: plum;
  }
  
  .container-html, .container-css, .container-TS, .container-chip3,.container-chip4{
    display: block;
    border: solid rgb(33, 149, 243) 2px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%;
    margin-left: 10%;
    margin-right: auto;
    padding: 15px;
  }

  .ampulheta {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.search-icon {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  font-size: 24px;
  color: rgb(20, 74, 188);
}
  
  
  
  
  
  .title-codigo2 {
    font-size: large;
    font-weight: bolder;
    padding-left: 45px;
    padding-top: 15px;
  }
  
  
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .container-TS2{
    display: block;
    border: solid rgb(33, 149, 243) 2px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%; /* Ajuste a largura conforme necessário */
    margin-left: 10%; /* Centraliza o contêiner horizontalmente */
    margin-right: auto; /* Centraliza o contêiner horizontalmente */
    padding: 20px; 
    overflow: auto; /* Adiciona barras de rolagem se o conteúdo for maior que o contêiner */
    word-wrap: break-word; /* Quebra palavras longas para se ajustarem ao contêiner */
  }
  
  .container96 {    
    display: block;
    border: solid rgb(33, 149, 243) 2px; 
    box-sizing: border-box; 
    border-radius: 20px;
    width: 80%;
  }
  
  .title2 {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(255, 94, 1);
  }


  