.chip {
  display: inline-block;        
  padding: 0 10px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 16px;
  border: 1px solid #fb9127;
  background-color: #ee8e11;
  margin: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.chip1 {
  display: inline-block;
  padding: 0 10px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 16px;
  background-color: #839fc7;
  margin: 5px;
  cursor: pointer;
}

.app-component-viewer {
  font-weight: 400;
  width: calc(100% - 100px);
  padding: 20px 50px;
}

.content {
  padding-top: 25px;
  padding-bottom: 25px;
}


.chip3:hover {
  background-color: #ffb578;
}


.chip3 {
  display: inline-block;        
  padding: 0 10px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 16px;
  border: 1px solid #fb9127;
  background-color: #ee8e11;
  margin: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
.chip13,.chip4 {
  display: inline-block;
  padding: 0px 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: relative;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #888;
}

.closebtn:hover {
  color: #000;
}



.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.container-TS2{
  display: block;
  border: solid rgb(33, 149, 243) 1px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 50%; /* Ajuste a largura conforme necessário */
  margin-left: 10%; /* Centraliza o contêiner horizontalmente */
  margin-right: auto; /* Centraliza o contêiner horizontalmente */
  padding: 20px; 
  overflow: auto; /* Adiciona barras de rolagem se o conteúdo for maior que o contêiner */
  word-wrap: break-word; /* Quebra palavras longas para se ajustarem ao contêiner */
}

.container96 {    
  display: block;
  border: solid rgb(33, 149, 243) 1px; 
  box-sizing: border-box; 
  border-radius: 20px;
  width: 80%;
}










/* Estilo para novo chip4 */
.chip44 {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  border-radius: 20px;
  border: 1px solid #fb9127;
  background-color: #ee8e11;
  color: #000000;
  position: relative;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: relative;
}

.chip44:hover {
  background-color: #ffb578;
}



.closebtn-chip4 {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.closebtn-chip4:hover {
  color: #000;
}



/* Estilo para chip5 (azul claro) */
.chip5 {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  border-radius: 20px;
  background-color: #024eff; /* Cor azul claro */
  color: #000000;
  position: relative;
  margin: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: relative;

}


.chip5:hover {
  background-color: #78acff;
}

.closebtn-chip5 {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.closebtn-chip5:hover {
  color: #000;
}

/* Estilo para chip6 (roxo claro) */
.chip6 {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    border-radius: 20px;
    background-color: #02b7ff; /* Cor roxo claro */
    color: #000000;
    position: relative;
    font-family: Arial, sans-serif;
    cursor: pointer;
    position: relative;

  }


.closebtn-chip6 {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.closebtn-chip6:hover {
  color: #000;
}

.chip6:hover {
  background-color: #7db9d1;
}




.chip7 {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  border-radius: 20px;
  border: 2px solid #0602ff;
  background-color: #ee8e11;
  color: #000000;
  position: relative;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  
}



.closebtn-chip7 {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.closebtn-chip7:hover {
  color: #000;
}

/* Estilo para o botão de adicionar novo chip */
.add-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
}

.add-chip:hover {
  background-color: #d8d7d6f2;
}

.chip7:hover {
  background-color: #ffb578;
}