
<div class="app-component-viewer">
  <div class="content">
      <h1 class="app-title">Chip:</h1>
      <p>Em HTML, o termo "chip" se refere a um elemento de interface gráfica de usuário (UI) que representa uma peça compacta de informação. 
          Chips podem conter uma variedade de conteúdo, como texto, ícones, ou fotos, e geralmente são usados para representar 
          entradas de usuário, tais como seleções, contatos, ou filtros.</p>
  </div>
  
  <span class="container">
      <span>
          <div class="code_title">Chip Estático</div>
      </span>
      <div class="contenti">
          <div class="chip" [ngStyle]="{'background-color': bgColor}">
              <span>{{text}}</span>
          </div> 
      </div>
  </span>
  
  