<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Card:</h1>
        <div>
            Drescrição resumida.
        </div>
    </div>

    <app-card>
        <p class="text-card">{{longText}}</p>
    </app-card>
    
    <div class="content">
        <p> Texto complementar.
        </p>
    </div>

    <br>
    <span class="container">
        <div class="title-codigo">HTML</div>
        <code class="language-html">
            <span class="html-codigo">
                <div>{{textHtml}}</div>
            </span>
        </code>
    </span>

    <br>
    <span class="container">
        <div class="title-codigo">CSS</div>
        <span class="css-codigo">
            <code>
                <div>{{textCss}}</div>
            </code>
        </span>
    </span>

    <br>
    <span class="container">
        <div class="title-codigo">TypeScript</div>
        <span class="css-codigo">
            <code>
                <div>{{textTs}}</div>
            </code>
        </span>
    </span>
    
    <div class="content">
        <p>
           Explicar Inputs do TypeScript.
        </p>
    </div>