<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Card:</h1>
        <div>
            O componente de card é um elemento de interface de usuário que exibe conteúdo em um formato compacto e visual. É usado para representar informações breves, como um resumo de um produto, serviço, artigo, usuário, ou qualquer outro tipo de conteúdo.
        </div>
    </div>

    <br>
    <div class="cardsapps">
    <app-card type = 'simples'>
        <p class="textt">Banco de dados é um sistema que armazena e gerencia informações de forma organizada, permitindo acesso e manipulação eficientes. É fundamental para aplicações modernas, fornecendo suporte a operações e análise de dados em grande escala.</p>
    </app-card>

    <app-card type = 'comchip' title= 'Squad_19' icon= 'heart' [imageSrc]="'https://media.discordapp.net/attachments/1219346674376245379/1244014236493938809/Imagem_do_WhatsApp_de_2024-05-24_as_20.56.46_271b2b23.jpg?ex=666c9e8a&is=666b4d0a&hm=e862d5f4a19412a93cfbb50e26fca685c4eb92479c7fea6c04dccc433bf2e115&=&format=webp&width=819&height=614'">
    <p class="textt">Alunos do Embarque Digital criam solução tecnológica para empresa Ustore.</p>
    </app-card>
</div>
    <br>
    
        
    <div class="title-codigo">Código Seletor para Angular:</div><br>
    <span class="container" style="background-color: #282b2e;">
    <pre class="pre">
        <code class="code"
              [highlight]="codeForSelect"
              language="ts"
              lineNumbers></code>
      </pre>
</span>

    <br>
    
        <div class="title-codigo">HTML:</div><br>
        <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForHTML"
                  language="html"
                  lineNumbers></code>
          </pre>
    </span>
    <br>

    <div class="content">
        <p>No Angular, a tag <code class="out-code">&lt;ng-content&gt;</code> permite que ao chamar o componente, tudo que for adicionado dentro do <code class="out-code">&lt;app-card&gt;</code>seja renderizado no corpo do card.</p>
     
    </div>

    <br>
        <div class="title-codigo">CSS:</div><br>
        <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForCSS"
                  language="css"
                  lineNumbers></code>
          </pre>
    </span>
    <br>

    
        <div class="title-codigo">TypeScript:</div><br>
        <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForTS"
                  language="ts"
                  lineNumbers></code>
          </pre>
    </span>
    <br>

    <div class="content">
        <p class="title-codigo">Inputs:</p>
        <p>title: Adiciona o título do card</p>
        <p>icon: Adiciona o ícone através da biblioteca Font Awesome. Exemplos: camera, car, cog, envelope, heart, home, phone, search, shopping-cart, user
</p>     
    </div>
    