.app-component-viewer {
    font-weight: 400;
    width: calc(100% - 341px);
    padding: 20px 50px;
}
.container {    
  display: block;
  border: solid rgb(33, 149, 243) 2px; 
  box-sizing: border-box; 
  border-radius: 20px;
  width: 0%;
}

.app-title {
    font-size: xx-large;
    color: rgb(20, 74, 188);
}

.title-codigo {
  font-size: large;
  font-weight: bolder;
  padding-left: 35px;
  padding-top: 15px;
}

.out-code{
  background-color: plum;
}

code{
  font-size: large;
}

.content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.cardsapps{
  flex-direction: row;
}
.textt {
  margin: 10px;
  font-size: 12px;
  text-align: center; /* Centraliza o texto horizontalmente */
}
