<div class="app-component-viewer">
    <div class="content">
      <h1 class="app-title">Select:</h1>
      <div>
        A tag <code class="out-code">&lt;select&gt;</code> em HTML cria um elemento de seleção,
        também conhecido como menu suspenso. Ele permite ao usuário escolher uma opção dentre 
        uma lista predefinida. É uma ferramenta valiosa para coletar informações do usuário de
        forma controlada e eficiente.
    </div>
    </div>
  
    <div class="title"> Select Simples </div>
    <br>
  
  <span class="container">
    <span>
      <div>Select Simples</div>
    </span>
    <app-select type="simple"></app-select>
  </span> 
  
  <br>
  
  <div class="content">
    <div class="title"> Code: </div>
    </div>
     <div class="title-codigo">HTML:</div> <br>
  <span class="container" style="background-color: #282b2e;">
      <pre class="pre">
          <code class="code"
                [highlight]="HTML"
                language="html"
                lineNumbers></code>
        </pre>
  </span>
  
  <br>
  <div class="content">
    <div class="title"> Select Agrupado </div>
  
    <p>
      Agrupamento em HTML, no contexto da tag <code class="out-code">&lt;select&gt;</code>,
      refere-se à técnica de organizar as opções de um menu suspenso em categorias distintas para
      facilitar a navegação e a seleção do usuário. Essa funcionalidade é particularmente útil 
      quando se trabalha com um grande número de opções ou quando a categorização das opções 
      agrega valor à experiência do usuário.
    </p>
  
  </div>
  <span class="container">
    <span>
      <div>Select Agrupado</div>
    </span>
    <app-select type="tabela2"></app-select>
  </span>

  <div class="content">
    <div class="title"> Code: </div>
    </div>
     <div class="title-codigo">HTML:</div> <br>
  <span class="container" style="background-color: #282b2e;">
      <pre class="pre">
          <code class="code"
                [highlight]="HTML2"
                language="html"
                lineNumbers></code>
        </pre>
  </span>
  <br>
