<div class="app-component-viewer">
    <div class="content">
     <h1 class="app-title">Table:</h1>
  
     <div>
      As tabelas HTML são elementos fundamentais na construção de páginas web, pois permitem organizar e apresentar dados de forma clara, concisa e informativa. Elas são utilizadas em diversos contextos, desde a exibição de listas de produtos em lojas online até a apresentação de resultados de pesquisas em sites científicos.
  </div>
  </div>
  
  <span class="container" >
    <app-table type="simple"></app-table>
  </span>
 
  <br>
  <div class="html-code">
    <h2>HTML:</h2>
    <pre class="pre">
        <code class="code"
              [highlight]="CodeForHTML"
              language="ts"
              lineNumbers></code>
      </pre>
</div>

  <div class="content">
    <div class="title"> Code: </div>
    </div>
     <div class="title-codigo">HTML:</div> <br>
  <span class="container" style="background-color: #282b2e;">
      <pre class="pre">
          <code class="code"
                [highlight]="HTML"
                language="html"
                lineNumbers></code>
        </pre>
  </span>
  
  <!--Codigo EXPLICATIVO TS-->
  <div class="title-codigo">TS:</div>
  <div class="content">
    <p>
      O TypeScript aprimora a funcionalidade das tabelas HTML possibilitando a manipulação e interação dinâmica de dados. Você pode vincular dados de arrays ou objetos JavaScript às células da tabela, permitindo atualizações em tempo real e interações do usuário.
    </p>
  </div> <br>
  <span class="container" style="background-color: #282b2e;">
      <pre class="pre">
          <code class="code"
                [highlight]="TS"
                language="TS"
                lineNumbers></code>
        </pre>
  </span>
  <br>
  <!--Codigo EXPLICATIVO CSS-->
  <div class="title-codigo">CSS:</div> <br>
  <span class="container" style="background-color: #282b2e;">
      <pre class="pre">
          <code class="code"
                [highlight]="CSS"
                language="CSS"
                lineNumbers></code>
        </pre>
  </span>
 
  
  
  <!--Explicações de outras feats-->
  
  <div class="content">
    <div class="title"> Tags Estruturais De Uma Tabela : </div>
    </div>
  
  <div class="content">
    <p>
      a estrutura básica de uma tabela consiste nas tags <code class="out-code">&lt;tr&gt;</code>, <code class="out-code">&lt;td&gt;</code> e as células de título <code class="out-code">&lt;th&gt;</code>. Porém, além dessas, também há tags que servem para estruturar melhor a tabela. São elas:
    </p>
    <br>
    <p><code class="out-code">&lt;thead&gt;&lt;/thead&gt;</code> – Esta tag representa o cabeçalho da tabela, geralmente composta por células título.</p>
      <p><code class="out-code">&lt;tbody&gt;&lt;/body&gt;</code>– Essa tag representa o corpo da tabela;</p>
        <p><code class="out-code">&lt;tfoot&gt;&lt;/tfoot&gt;</code>– Essa tag representa o rodapé da tabela.</p>
          <p>essas tags tem como principal efeito manter uma semântica adequada para suas tabelas.</p>
  </div>
  <br>
  <!--AQUI FICA A TABELA-->
  <span  >
    <app-table type="estrutural"></app-table>
  </span>
  
  <div class="html-code">
    <h2>HTML:</h2>
    <pre class="pre">
        <code class="code"
              [highlight]="CodeForHTML2"
              language="ts"
              lineNumbers></code>
      </pre>
</div>
  <br>
  
  <div class="title-codigo">HTML CODE:</div> <br>
  <span class="container" style="background-color: #282b2e;">
      <pre class="pre">
          <code class="code"
                [highlight]="HTML2"
                language="html"
                lineNumbers></code>
        </pre>
  </span>
  
  
  </div>
