<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Radio Button</h1>
        <div>
            Os radio buttons são elementos de seleção que permitem aos usuários escolher apenas uma opção de um conjunto.
            Eles são representados visualmente como círculos preenchidos, onde apenas uma opção pode ser selecionada por vez.
        </div>
    </div>

<br>

<span class="container">
    <div class="contenti">
        <app-inputbutton type='radio'></app-inputbutton>
    </div>   
</span>


    <div class="html-code">
        <h2 class="title">HTML:</h2>
        <div class="container" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code" 
                [highlight]="codeForHTMLradio" 
                language="HTML" 
                lineNumbers></code>
            </pre>
        </div>
    </div>
<



<div class="content">
    <div class="html-code">
        <h2 class="title">HTML:</h2>
        <div class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                [highlight]="codeForHTMLradiopull"
                language="HTML"
                lineNumbers></code>
        </pre>
        </div>
    </div>
</div>

<div class="content">
    <h1 class="app-title">Botão de Ligação</h1>
    <div>
        O botão de ligação é um elemento de interface que permite aos usuários alternar entre dois estados, como ligado/desligado, ativo/inativo, etc.
    </div>
</div>
<br>

<span class="container" style="width: 50%;">
    <div class="login-container">
        <app-inputbutton type='switch'></app-inputbutton>
    </div>
</span>

<div class="input-group">
    <div class="html-code">
        <h2 class="title">HTML:</h2>
        <div class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code" [highlight]="codeForHTMLswitch" language="HTML" lineNumbers></code>
        </pre>
        </div>
    </div>
</div>

    <div class="content">
        <div>
            O switch button mostrado acima poderá ser inserido na pagina através do seguinte código:
        </div>
        <div class="html-code">
            <h2 class="title">HTML:</h2>
            <div class="container" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code"
                [highlight]="codeForHTMLswitchpull" 
                language="HTML" 
                lineNumbers></code>
            </pre>
            </div> 
        </div>
        <br>
        <div>
            Abaixo, o código TypeScript dos componentes button switch e radio:
        </div>
        <div class="html-code">
            <h2 class="title">TS:</h2>
            <div class="container" style="background-color: #282b2e;">
            <pre class="pre">
                <code class="code"
                [highlight]="codeforHTMLbuttonts" 
                language="ts" 
                lineNumbers></code>
            </pre>
            </div>
        </div>
    </div>

</div> 