<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Radio Button</h1>
        <div>
            Os radio buttons são elementos de seleção que permitem aos usuários escolher apenas uma opção de um conjunto.
             Eles são representados visualmente como círculos preenchidos, onde apenas uma opção pode ser selecionada por vez.
        </div>
    </div>
  

</div>
    
<span class="container">
    <span class="input-button-example">
        <div class="login-container">

            <app-inputbutton type = 'switch'></app-inputbutton>
   
        </div>

                    
                    <div class="input-group">
           
                        <div class="html-code">
                            <h2>HTML:</h2>
                            <pre class="pre">
                                <code class="code"
                                      [highlight]="codeForHTMLswitch"
                                      language="HTML"
                                      lineNumbers></code>
                              </pre>
                        </div>

                    </div> 



<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Botão de Ligação</h1>
        <div>
            O botão de ligação é um elemento de interface que permite aos usuários alternar entre dois estados, como ligado/desligado, ativo/inativo, etc.
        </div>


    </div>
    <span class="container">
        <span class="input-button-example">
            <div class="login-container">
                <app-inputbutton type = 'switch'></app-inputbutton>
    
            </div>
           

                    
                    <div class="html-code">
                        <h2>HTML:</h2>
                        <pre class="pre">
                            <code class="code"
                                  [highlight]="codeForHTMLradio"
                                  language="HTML"
                                  lineNumbers></code>
                          </pre>
                    </div>
                