.app-component-viewer {
  font-weight: 400;
  width: calc(100% - 341px);
  padding: 20px 50px;
}

.content {
  padding-top: 25px;
  padding-bottom: 25px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.contenti {
  font-size: large;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {    
  display: block;
  border: solid rgb(33, 149, 243) 2px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
}


.login-container {
  display: block;
  width: 110px;
  margin: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}


.button-container {
  text-align: center;
}

.button-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.button-container button:hover {
  background-color: #0056b3;
}

.app-title {
  color: rgb(20, 74, 188);
}

.title {
  color: rgb(20, 74, 188);
}

code {
  font-size: large;
}

.out-code{
  background-color: rgb(251, 184, 53);
}

.title {
  font-size: x-large;
  font-weight: bolder;
  color: rgb(20, 74, 188);
}

