<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Usando a biblioteca:</h1>
        <p>
            A biblioteca conta com diversos componentes exportáveis para auxiliar na produção
            de um website, seu objetivo é reduzir o tempo perdido no processo repetitivo de 
            criação de componentes.
            <br>
            Com o auxílio do ambiente Angular 17, torna-se capaz a importação de componentes
            que permite "chamar" componentes para serem utilizados diversas vezes sem a necessidade
            de reescrita de código.
        </p>
        <br>
        <div class="app-title">Exemplo:</div>
        <p>Ao inserir o seguinte código na html após as devidas importações:</p>
    </div>
    <span class="container" style="background-color: #282b2e;">
        <pre class="pre">
            <code class="code"
                  [highlight]="codeForHTML"
                  language="html"
                  lineNumbers></code>
          </pre>
    </span>
    <div class="content">
        <p>Terá o seguinte componente:</p>
    </div>
    <span class="container">
        <app-list type="simples"></app-list>
    </span> 
</div>