<div *ngIf="type == 'text'" class="input-group">
    <label class="labelbox" for="username">{{text}}</label>
    <input class="textbox" type="text" id="username" name="username" required>
</div>

<div *ngIf="type == 'password'" class="input-group">
    <label class="labelbox" for="password">{{password}}</label>
    <input class="textbox" type="password" id="password" name="password" required>
</div>

<div *ngIf="type == 'date'" class="input-group">
    <label class="labelbox" for="birthdate">{{date}}</label>
    <input class="textbox" type="date" id="birthdate" name="birthdate" required>
</div>