<div class="app-component-viewer">
    <div class="content">
        <h1 class="app-title">Input texto:</h1>
        <div>
            Em HTML, a tag &lt;input type="text"&gt; representa uma caixa de entrada de texto. 
            Ela é utilizada para criar uma caixa de entrada de texto de tipo não específicado. 
            
        </div>
    </div>

    <span class="container">
        <span class="input-text-example">
            <div class="login-container">
                <form action="#">
                    <div class="input-group">
                        <label for="username">Dados:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                </form>
            </div>
        </span>
    </span>

    <div class="app-component-viewer">
        <div class="content">
            <h1 class="app-title">Input senha:</h1>
            <div> 
                Em HTML, a tag &lt;input type="password"&gt;representa uma caixa de entrada de texto de tipo senha. 
                Ela é utilizada para criar uma caixa de entrada de dados, onde o texto inserido não é visualizado pelo usuário. 
    
            </div>
        </div>

        <span class="container">
            <span class="input-text-example">
                <div class="login-container">
                    <form action="#">
                        <div class="input-group">
                            <label for="password">Senha:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </form>
                </div>
            </span>
        </span>
    
        <div class="app-component-viewer">
            <div class="content">
                <h1 class="app-title">Input data:</h1>
                <div>
                    Em HTML, a tag &lt;input type="date"&gt;
                    representa uma caixa de entrada de texto de tipo data. 
                Ela é utilizada para criar uma caixa de entrada de dados, onde o texto é no formato dia/mês/ano. 
    
                </div>
            </div>
    
            <span class="container">
                <span class="input-text-example">
                    <div class="login-container">
                        <form action="#">
                            <div class="input-group">
                                <label for="birthdate">Data de Nascimento:</label>
                                <input type="date" id="birthdate" name="birthdate" required>

                            </div>
                        </form>
                    </div>
                </span>
            </span>
        