
  

<!-- Começo da Tabela-->

<table *ngIf="type == 'simple'" class="table-example" cdk-table [dataSource]="dataSource">
 
    <!-- Posição Column -->
    <ng-container cdkColumnDef="posicao">
      <th cdk-header-cell *cdkHeaderCellDef> No. </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.posicao}} </td>
    </ng-container>
  
    <!-- Nome Column -->
   <ng-container cdkColumnDef="nome">
      <th cdk-header-cell *cdkHeaderCellDef> Nome </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.nome}} </td>
    </ng-container>
  
    <!-- Cor Column -->
    <ng-container cdkColumnDef="cor">
      <th cdk-header-cell *cdkHeaderCellDef> Cor </th>
      <td cdk-cell *cdkCellDef="let element"> {{element.cor}} </td>
    </ng-container>
  
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--Fim da Tabela-->


<table *ngIf="type == 'estrutural'" border="1">
  <thead>
  <tr>
      <th>titulo 1</th>
      <th>titulo 2</th>
      <th>titulo 3</th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>Body1 linha1</td>
      <td>Body2 linha1</td>
      <td>Body3 linha1</td>
  </tr>
  <tr>
      <td>Body12 linha2</td>
      <td>Body2 linha2</td>
      <td>Body3 linha2</td>
  </tr>
  </tbody>
  <tfoot>
      <td>Foot 1</td>
      <td>Foot 2</td>
      <td>Foot 3</td>
  </tfoot>
</table>

